body {
    background: grey;
    color: white;
    font-family: sans-serif, "arial";
    width: 65%;
    margin: auto;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
     width: 80%;
}

.container{
    
}

.header{
    background: #aeaeae;
    color: black;
}

p, h2, h1{
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
}

h2{
    padding:  10px; 
}

p  {    padding-bottom: 10px;
}
.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: black;
    
}

.dodgers {
    background: #3e9fff;
    coloR: black;
    
}

.cubs {
    background: #aeaeae;
    color:black;
    
}

.pittsburgh {
    background: yellow;
    color: black;
}

.cardinals {
    background: #ff6767;
    color: black;
    
    
}

.table-container {
    background: black;
    padding-left: 22%;
}

tr,td,th {
  padding: 10px;  
    text-align: center;
    border-style: solid;
    border-width: 1px;
    
}

li{ padding-bottom: 5px;
}
